.days { float:left; width:100%; padding-top:22px; text-align:center }
.days span { display:block; color:#ffc20e; font-size:36px; line-height:36px; font-family:"din" }
.days small { display:block; color:#999999; font-size:13px; line-height:15px; font-family:"dinlight" }